:root {
  /* font sizes */
  --h1: 4rem;
  --h2: 3rem;
  --h3: 2rem;
  --body1: 1.5rem;
  --body2: 1.2rem;
  --body3: 1rem;
  --body4: 0.75rem;


  /* others */
  --container-padding-x: 16rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.h1{
    font-size: var(--h1);
}

.h2{
    font-size: var(--h2);
}

.h3{
    font-size: var(--h3);
}

.body1{
    font-size: var(--body1);
}

.body2{
    font-size: var(--body2);
}

.body3{
    font-size: var(--body3);
}

.body4{
    font-size: var(--body4);
}


.container {
  width: 100%;
  padding-right: var(--container-padding-x);
  padding-left: var(--container-padding-x);
  margin-right: auto;
  margin-left: auto;
}



/* utilities */
.list-none{
    list-style-type: none;
}

.font-bold{
    font-weight: bold;
}



/* elements */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 95px;  
}

.nav{
  height: fit-content;
}

.nav > ul {
  display: flex;
  gap: 2rem;
}

.nav ul > li:hover{
  text-decoration: underline ;
}

.nav a {
  text-decoration: none;
  color: black;
}

.btn{
  border-radius: 8px;
}

.btn > p {
    padding: 0.5em 0.7em;
    display: flex;
    gap: 0.2em;
}